<header class="header d-flex justify-content-between align-items-center p-3 bg-primary text-white">
  <div class="logo-bioinf me-4">
      <img src="{{ site.baseurl }}/assets/images/bioinf-fr-logo-blau.png" alt="Bioinformatics Logo" class="img-fluid">
  </div>
  <div class="title text-center">
      <h1>{{ page.title }}</h1>
  </div>
  <div class="logo-uni-freiburg ms-auto">
      <a href="https://uni-freiburg.de/"><img src="{{ site.baseurl }}/assets/images/logo-uni-freiburg.png" alt="University Freiburg Logo" class="img-fluid"></a>
  </div>
</header>