<nav class="navbar">
    <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/docs/team.html">Team</a></li>
        <li><a href="{{ site.baseurl }}/docs/temp.html">Research</a></li>
        <li><a href="{{ site.baseurl }}/docs/temp.html">Teaching</a></li>
        <li><a href="{{ site.baseurl }}/docs/publications.html">Publications</a></li>
        <li><a href="{{ site.baseurl }}/docs/temp.html">Software/Server</a></li>
        <li><a href="https://galaxyproject.org/freiburg/">Freiburg Galaxy</a></li>
        <li><a href="{{ site.baseurl }}/docs/temp.html">Events</a></li>
        <li><a href="{{ site.baseurl }}/docs/temp.html">Jobs</a></li>
        <li><a href="http://www.bioinf.uni-freiburg.de/Private/index.html?en">Intern</a></li>
        <li><a href="{{ site.baseurl }}/docs/temp.html">Disclaimer</a></li>
        <!-- Add as many pages as you need -->
    </ul>
    <div class="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>

