.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #344a9a;
    color: #fff;
    max-height: 80px;
}

.logo-bioinf {
    max-width: 80px;
    order: 1;
    margin-left: 60px;
    margin-right: 70px;

}

.logo-uni-freiburg {
    max-width: 300px;
    order: 3;
    margin-left: auto;
}

.logo-bioinf img, .logo-uni-freiburg img {
    width: 100%;
    height: auto;
}

.title {
    order: 2;
    text-align: center;
    margin: 0 0.5px;
    font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
    .logo-bioinf {
        margin: 20px;
        max-width: 80px;
    }

    .logo-uni-freiburg {
        max-width: 250px;
    }

    .title {
        font-size: 1em;
    }
}


@media screen and (max-width: 960px) {
    .header {
        padding: 5px 10px;
    }
    .logo-bioinf {
        margin: 5px;
        max-width: 70px;
    }

    .logo-uni-freiburg {
        max-width: 180px;
    }

    .title {
        font-size: 0.65em;
        padding-right: 10px;
    }
}