

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.contact-card {
    max-width: 720px;
}

@import "header";
@import "navbar";
@import "publication";
@import 'warning';
@import 'team';