
.search-and-filter-panel {
    width: 60%;
    margin: 15px auto 5px;
    align-items: center;
}

.search-bar {
    display: flex;
    position: relative;
    width: 100%;
}


#search-bar {
    flex-grow: 1;
    display: block;
    width: calc(100% - 20px); /* Adjusted to leave space for the reset button */
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#search-bar:focus {
    outline: 2px solid #719ECE; /* Change 'blue' to your desired color */
  }

#reset-all-filters {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("../images/reset.png");
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s;
}


#reset-all-filters:hover {
    transform: scale(1.1) translateY(-50%);
}

#reset-all-filters:active {
    transform: scale(0.9) translateY(-50%); /* Decrease the size of the icon slightly when clicked */
}

#reset-all-filters:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 0 2px #719ECE; /* Add a light blue focus ring */
}


.filter-panel {
    width: 80%; /* set the width to 80% */
    margin: 5px auto; /* center the panel horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-container {
    flex-grow: 0;
    min-width: 160px;
    width: auto;  /* optional */
    margin-bottom: 10px;
}

.filter-reset {
    position: absolute;
    right: 0;
}

.filter-container select {
    margin: 5px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border: 1px solid #ccc; /* Maintain a light border */
    border-radius: 10px; /* Add rounded corners */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle drop shadow for depth */
    appearance: none; /* Remove the default select arrow */
    transition: box-shadow 0.3s ease; /* Add transition for hover effect */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><path d='M5.83301 8.33337L10.0003 12.5007L14.1667 8.33337' stroke='%23667EEA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: right .7em center; /* Position the icon on the right side of the select */
    background-size: 10px; /* Size of the icon */
}

.filter-container select:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

.filter-container select:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 0 2px #719ECE; /* Add a light blue focus ring */
}

#publication-count {
    text-align: center;
    margin: 5px 0;
}

.publication {
    margin: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Round corners for a softer, more modern look */
    background-color:#F8F8F8; /* Light grey background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Drop shadow for depth */
    transition: box-shadow 0.3s ease; /* Transition for hover effect */
}

.publication:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* More pronounced drop shadow on hover */
}

.publication .title a {
    text-decoration: none; /* Remove underline from the title link */
    font-size: 32px; /* Increase the size of the title */
    display: block; /* Display the title as a block element to add vertical space */
    margin-bottom: 20px; /* Add vertical space below the title */
    text-align: left;
    color: #344a9a;
    font-family: "Roboto", sans-serif;
}

.publication .title a:visited {
    color: #344a9a;
}

.publication .authors {
    line-height: 1.6;
    font-size: 18px; /* Slightly increase the size */
    margin-bottom: 10px; /* Maintain the vertical space */
}

.publication .journal {
    font-style: italic; /* Keep journal italic */
    font-size: 14px; /* Slightly reduce the size */
    margin-bottom: 20px; /* Maintain the vertical space */
}

.publication .button-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start; /* Align the buttons to the left */
}

.publication .button-container > div {
    flex: 0 0 auto; /* This will prevent flex items from growing and shrinking, which might be causing unwanted space */
    margin-right: 15px; /* Add some space to the right of each div */
}

.publication .button-container > div:last-child {
    margin-right: 0; /* Remove the right margin from the last div */
}

.publication .button-container a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #b3b3b3;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.publication .button-container a:hover {
    background-color: #344a9a;
}

#filter-toggle-button {
    display: none;
    margin: auto;  /* centers the button */
}

#back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #344a9a; /* Dark background */
    color: white; /* White text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#back-to-top:hover {
    background-color: #888; /* Add a dark grey background on hover */
}


@media (max-width: 960px) {

    .filter-panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .filter-panel.expanded {
        max-height: 500px;  /* or whatever max-height you want */
    }


    .search-and-filter-panel {
        width: 100%;
    }

    /* 1. Increase the width of the search box */
    .search-bar {
        width: 100%; /* Adjust width considering padding and the icon */
        box-sizing: border-box; /* This makes sure the input does not overflow its container due to padding */
    }

    /* 2. Reduce the top margin */
    .publications {
        margin-top: 20px; /* Adjust this value according to your current margin */
    }

    /* 3. Make the select boxes smaller */
    .filter-container select {
        width: 80%; /* Adjust this value to what you find most suitable */
        min-width: 160px; /* minimum width */
        box-sizing: border-box; /* This makes sure the select does not overflow its container due to padding */
    }

    #filter-toggle-button {
        display: inline-block;
    }

    .publication .title a {
        font-size: 22px; /* Increase the size of the title */
        margin-bottom: 10px; /* Add vertical space below the title */
    }

    .publication .authors {
        line-height: 1.4;
        font-size: 14px; /* Slightly increase the size */
        margin-bottom: 10px; /* Maintain the vertical space */
    }

    .publication .journal {
        font-size: 12px; /* Slightly reduce the size */
        margin-bottom: 10px; /* Maintain the vertical space */
    }

    .publication .button-container a {
        padding: 8px 18px;
    }

    .publication .button-container > div {
        margin-right: 10px; /* Add some space to the right of each div */
    }

}