.team-section {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  // Center the panels along the width
}

.team-title {
  font-family: 'Helvetica, Arial, sans-serif';  // Elegant Font
  font-size: 36px;  // Increase Size
  text-transform: uppercase;  // Uppercase Letters
  letter-spacing: 1.5px;  // Spacing Between Letters
  text-shadow: 2px 2px 4px #aaa;  // Subtle Shadow
  margin-top: 50px;  // Top Margin
  margin-bottom: 30px;  // Bottom Margin
  color: #344a9a;  // Text Color
  text-align: center;  // Center Align
}

.team-panel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  // Center the panels
  width: 100%;
  margin: 0 auto;  // Centering the wrapper horizontally
}

.team-panel {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 400px;  // Fixed width
  height: 280px; // Fixed height
  margin: 15px;
  margin-top: 75px;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .team-panel {
    margin: 0 auto;  // Center the panel when screen is small
    margin-top: 60px;
  }
}


.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.name-title {
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 5px;
  font-size: 20px;
}

.role-title {
  margin-bottom: 15px;
  font-size: 16px;
}

.info-box {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
}

.info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info li {
  margin-bottom: 5px;
}

.info li i {
  width: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

.ai, .fa, .fa-brands {
  color: #344a9a;
}